.el-table{--el-table-row-hover-background-color:transparent}.el-link-apple{--el-link-default-font-color:#B753E1;--el-link-default-active-color:#bf7ddc}.pod-p{color:#98878f;padding-top:5px;padding-bottom:5px;padding-left:1%;font-size:14px}
